<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list display only one document based on the passed ID.
-->
<%- include ('../partials/header') %>

<div class="container my-5">
    <header>
      <div class="content">
          <div class="card" style="width: 20rem; margin: 1.3em; float: left;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title" style="height: 3em;"><p><%= trade.tradeType %> <%= trade.cardLevel %> <%= trade.title %></p></h5>
              <% if (typeof trade.user !== 'undefined') {%> 
                <small style="font-weight: bold;">by <%= trade.user.shortName %></small>
                <% } %>  
              <small style="float: right;"><%= trade.updatedAt.toLocaleString("en-US") %></small>
              <hr>
              <h6>Trade Card List:</h6>
              <p style="overflow: auto;"><%- trade.trade %> </p>
              <hr>

              <p class="card-text">Buy Now: <%= trade.buyNow %>c</p>
              <p class="card-text">Currently: <%= trade.tradeStatus %></p>
              
            </div>   
          </div> 
          
          

        <% if(authorized) { %>
          <div class="card" style="width: 40rem; margin: 1.3em; float: left;">
          <form action="<%= (typeof actionPath === 'undefined') ? '/trades/comment' : actionPath %>", method="POST">
            <input type="hidden" name="id" value="<%= trade.id %>">
            <input type="hidden" name="user" value="<%= user.firstName %>">
            <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Inquire about trade</label></h5>
              <input style="margin: 1em; margin-top: -1em; width: 97%;" type="text" name="comment" id="comment">                         
            <div class="form-group">
                <button style="margin-left: 1em;" class="btn btn-dark">Submit</button>
            </div>
          </form>
          </div>
        <% } %> 
        <% if(!authorized) { %>
          <div class="card" style="width: 40rem; margin: 1.3em; float: left;">
          <h5 class="card-title" style="height: 3em;"><label for="comment" style="margin: 1em;">Inquire about trade</label></h5>
            <p style="margin-left: 1em;">Please log in to post a comment.</p>
          </div>
        <% } %> 


        <div class="card" style="width: 62.75rem; min-height: 6em; margin: 1.3em; margin-bottom: 1em; float: left;">
          <h5 class="card-title" style="height: 3em;"><p style="margin: 1em;">Trade Comments</p></h5>
          <hr>
          <% for (i = trade.tradeComments.length - 1; i >= 1; i--)  {%> 
            <p style="margin: none; margin-left: 1em;"><%= trade.tradeComments[i]; %> </p>
            <hr>
          <% } %> 
        </div>
        


<%- include ('../partials/footer') %>
